.box
{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.centerBox
{
    box-shadow: 0 10px 10px 10px rgba(0,0,0,0.3);
    padding: 10%;
    border:2px solid black;
    border-radius: 10px;
    height: 50%;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:  repeat(3,1fr);
}
.largeBox
{
    height: 70%;
    width: 70%;
    padding: 5%;
}
.extraLargeBox{
    height: 80%;
    width: 80%;
    padding: 5%;
}
.white
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    width: 100%;
    border:1px solid black;
    /* font-size:large; */
    font-weight: bolder;    
}
.centerBox .xbox{
    /* background-color: rgb(220, 234, 193); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    width: 100%;
    border:1px solid black;
    /* font-size:large; */
    font-weight: bolder;
}
.centerBox .winnercolor{
    background-color: rgb(220, 234, 193);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    width: 100%;
    border:1px solid black;
    /* font-size:large; */
    font-weight: bolder;
}
.centerBox .ybox{
    /* background-color: rgb(197, 156, 187); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    width: 100%;
    border:1px solid black;
    /* font-size:large; */
    font-weight: bolder;
}
.box span{

    display: flex;
    align-items: center;
    /* justify-content: center; */
}
